<main id="main">

    <!-- ======= Breadcrumbs ======= -->
<!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <div class=" d-flex">
          <div class="col-xl-10">
            
            <h4><a style="text-decoration: none;" href=""></a></h4>
            <a style="margin-left: 20px;" href="">{{ element.name }}</a>
            {% endfor %}
            {% endfor %}
          </div>
          <div class="col-xl-10">
           
            <div class="user_profile_quick_view" style="display: flex; margin-top: 10px; margin-bottom: 10px;">
              <img class="user_profile_img" style="border-radius: 50%;"  src=""  width="30" >
             <div>
              <span>
                <a class="text-dark" href="" style="margin-left: 5px;"></a>
               
                <i class="bi bi-check-circle-fill"></i>
               
              </span>
            
              <a class="text-danger" href=">Unfollow</a>
              {% else %}
              <a class="text-info" href="{me %}">Follow</a>
              {% endif %}
             </div>
            </div>
            
          </div>
        </div>
    </section>

  </main>